### Creating starburst chart for NCAA season 2019

In [1]:
# Dependencies
import pandas as pd

In [2]:
#read in csv file, utitilizing read.csv method
cbb_df = pd.read_csv("cbb.csv")
cbb_df

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1752,Texas A&M,SEC,35,22,111.2,94.7,0.8640,51.4,46.9,19.2,...,27.6,52.5,45.7,32.9,32.6,70.3,1.9,S16,7.0,2018
1753,LSU,SEC,35,28,117.9,96.6,0.9081,51.2,49.9,17.9,...,33.1,52.9,49.4,31.9,33.7,71.2,7.3,S16,3.0,2019
1754,Tennessee,SEC,36,31,122.8,95.2,0.9488,55.3,48.1,15.8,...,34.9,55.4,44.7,36.7,35.4,68.8,9.9,S16,2.0,2019
1755,Gonzaga,WCC,35,27,117.4,94.5,0.9238,55.2,44.8,17.1,...,28.1,54.3,44.4,37.8,30.3,68.2,2.1,S16,11.0,2016
1756,Gonzaga,WCC,37,32,117.2,94.9,0.9192,57.0,47.1,16.1,...,29.1,58.2,44.1,36.8,35.0,70.5,4.9,S16,4.0,2018

In [3]:
#filtering down to one year of data, using dot notation and a conditional statement "2019"
cbb_df = cbb_df[cbb_df.YEAR == 2019]
cbb_df

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
5,Duke,ACC,39,35,125.2,90.6,0.9764,56.6,46.5,16.3,...,23.9,55.9,46.3,38.7,31.4,66.4,10.7,Champions,1.0,2015
10,Louisville,ACC,36,27,109.4,87.4,0.9290,47.7,44.0,17.2,...,33.3,48.4,43.3,30.7,30.3,65.6,5.8,E8,4.0,2015
11,Notre Dame,ACC,38,32,125.3,98.6,0.9401,58.3,47.9,14.5,...,24.1,58.2,47.4,39.0,32.6,63.9,8.6,E8,3.0,2015
23,Arizona,P12,38,34,117.5,86.9,0.9700,53.5,45.1,16.5,...,37.3,53.3,42.7,36.0,33.5,66.7,9.0,E8,2.0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1736,West Virginia,B12,35,25,110.3,93.3,0.8733,46.1,52.7,18.7,...,55.5,45.5,51.8,31.6,36.5,68.6,4.1,S16,5.0,2015
1741,Xavier,BE,37,23,115.7,95.1,0.9049,53.3,50.0,18.1,...,33.3,53.7,48.9,35.1,34.6,65.5,1.3,S16,6.0,2015
1743,Wichita St.,MVC,34,29,114.3,91.5,0.9277,50.3,45.8,15.0,...,36.6,48.9,42.6,35.4,35.3,62.6,4.2,S16,7.0,2015
1745,UCLA,P12,36,22,111.8,96.6,0.8425,49.6,48.5,17.6,...,32.3,47.4,45.4,36.8,35.6,66.8,0.0,S16,11.0,2015
1746,Utah,P12,34,25,114.9,88.7,0.9513,55.2,43.0,18.2,...,34.3,52.3,41.4,40.1,31.2,61.4,3.7,S16,5.0,2015

In [4]:
#filtering down to the 3 columns we need .loc uses a list [rows,columns]
cbb_df = cbb_df.loc[ : , ["TEAM", "CONF", "POSTSEASON"]]
cbb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 351 entries, 1 to 1746
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM        351 non-null    object
 1   CONF        351 non-null    object
 2   POSTSEASON  68 non-null     object
dtypes: object(3)
memory usage: 11.0+ KB

In [5]:
cbb_df.head(100)

                      TEAM CONF POSTSEASON
1                Wisconsin  B10        2ND
5                     Duke  ACC  Champions
10              Louisville  ACC         E8
11              Notre Dame  ACC         E8
23                 Arizona  P12         E8
..                     ...  ...        ...
470  College of Charleston  CAA        NaN
471               Delaware  CAA        NaN
472                 Drexel  CAA        NaN
473                   Elon  CAA        NaN
474                Hofstra  CAA        NaN

[100 rows x 3 columns]

In [6]:
#remove postseason NAN using isna() method and a conditional statement
cbb_df.loc[cbb_df["POSTSEASON"].isna(), "POSTSEASON"] = ""
cbb_df.head(70)

            TEAM  CONF POSTSEASON
1      Wisconsin   B10        2ND
5           Duke   ACC  Champions
10    Louisville   ACC         E8
11    Notre Dame   ACC         E8
23       Arizona   P12         E8
..           ...   ...        ...
308   Seton Hall    BE
327        Idaho  BSky
328    Idaho St.  BSky
329      Montana  BSky
330  Montana St.  BSky

[70 rows x 3 columns]

In [7]:
# what are the unique conferences, using unique and tolist methods
unique_conf = cbb_df.CONF.unique().tolist()
unique_conf

['B10',
 'ACC',
 'P12',
 'WCC',
 'SEC',
 'A10',
 'AE',
 'Amer',
 'ASun',
 'B12',
 'BE',
 'BSky',
 'BSth',
 'BW',
 'CAA',
 'CUSA',
 'Horz',
 'Ind',
 'Ivy',
 'MAAC',
 'MAC',
 'MEAC',
 'MVC',
 'MWC',
 'NEC',
 'OVC',
 'Pat',
 'SB',
 'SC',
 'Slnd',
 'Sum',
 'SWAC',
 'WAC']

In [8]:
#how many unique conferences are there?
len(unique_conf)

33

In [9]:
#create new columns called ids, labels, parents
cbb_df["parents"] = cbb_df.CONF + "-" + "NCAA" 
cbb_df["ids"] = cbb_df.parents + "-" + cbb_df.TEAM.str.strip() 
cbb_df["labels"] = cbb_df.TEAM.str.strip()
cbb_df

,TEAM,CONF,POSTSEASON,parents,ids,labels
1,Wisconsin,B10,2ND,B10-NCAA,B10-NCAA-Wisconsin,Wisconsin
5,Duke,ACC,Champions,ACC-NCAA,ACC-NCAA-Duke,Duke
10,Louisville,ACC,E8,ACC-NCAA,ACC-NCAA-Louisville,Louisville
11,Notre Dame,ACC,E8,ACC-NCAA,ACC-NCAA-Notre Dame,Notre Dame
23,Arizona,P12,E8,P12-NCAA,P12-NCAA-Arizona,Arizona
...,...,...,...,...,...,...
1736,West Virginia,B12,S16,B12-NCAA,B12-NCAA-West Virginia,West Virginia
1741,Xavier,BE,S16,BE-NCAA,BE-NCAA-Xavier,Xavier
1743,Wichita St.,MVC,S16,MVC-NCAA,MVC-NCAA-Wichita St.,Wichita St.
1745,UCLA,P12,S16,P12-NCAA,P12-NCAA-UCLA,UCLA
1746,Utah,P12,S16,P12-NCAA,P12-NCAA-Utah,Utah

In [10]:
#add string strip method to NCAA
cbb_df.parents.str.strip()
cbb_df

,TEAM,CONF,POSTSEASON,parents,ids,labels
1,Wisconsin,B10,2ND,B10-NCAA,B10-NCAA-Wisconsin,Wisconsin
5,Duke,ACC,Champions,ACC-NCAA,ACC-NCAA-Duke,Duke
10,Louisville,ACC,E8,ACC-NCAA,ACC-NCAA-Louisville,Louisville
11,Notre Dame,ACC,E8,ACC-NCAA,ACC-NCAA-Notre Dame,Notre Dame
23,Arizona,P12,E8,P12-NCAA,P12-NCAA-Arizona,Arizona
...,...,...,...,...,...,...
1736,West Virginia,B12,S16,B12-NCAA,B12-NCAA-West Virginia,West Virginia
1741,Xavier,BE,S16,BE-NCAA,BE-NCAA-Xavier,Xavier
1743,Wichita St.,MVC,S16,MVC-NCAA,MVC-NCAA-Wichita St.,Wichita St.
1745,UCLA,P12,S16,P12-NCAA,P12-NCAA-UCLA,UCLA
1746,Utah,P12,S16,P12-NCAA,P12-NCAA-Utah,Utah

In [11]:
#creating postseason dataframe
postseason_df = cbb_df.copy()
postseason_df

,TEAM,CONF,POSTSEASON,parents,ids,labels
1,Wisconsin,B10,2ND,B10-NCAA,B10-NCAA-Wisconsin,Wisconsin
5,Duke,ACC,Champions,ACC-NCAA,ACC-NCAA-Duke,Duke
10,Louisville,ACC,E8,ACC-NCAA,ACC-NCAA-Louisville,Louisville
11,Notre Dame,ACC,E8,ACC-NCAA,ACC-NCAA-Notre Dame,Notre Dame
23,Arizona,P12,E8,P12-NCAA,P12-NCAA-Arizona,Arizona
...,...,...,...,...,...,...
1736,West Virginia,B12,S16,B12-NCAA,B12-NCAA-West Virginia,West Virginia
1741,Xavier,BE,S16,BE-NCAA,BE-NCAA-Xavier,Xavier
1743,Wichita St.,MVC,S16,MVC-NCAA,MVC-NCAA-Wichita St.,Wichita St.
1745,UCLA,P12,S16,P12-NCAA,P12-NCAA-UCLA,UCLA
1746,Utah,P12,S16,P12-NCAA,P12-NCAA-Utah,Utah

In [12]:
#adding 3 new columns for postseason play
postseason_df["postseason_parents"] = cbb_df.ids.str.strip()
postseason_df["postseason_ids"] = cbb_df.parents + "-" + cbb_df.POSTSEASON.str.strip()
postseason_df["postseason_labels"] = cbb_df.TEAM + "-" + cbb_df.POSTSEASON.str.strip()

postseason_df.sort_values(by="POSTSEASON", ascending=False, inplace=True)

postseason_df.reset_index(inplace=True)

postseason_df

,index,TEAM,CONF,POSTSEASON,parents,ids,labels,postseason_parents,postseason_ids,postseason_labels
0,1746,Utah,P12,S16,P12-NCAA,P12-NCAA-Utah,Utah,P12-NCAA-Utah,P12-NCAA-S16,Utah-S16
1,1736,West Virginia,B12,S16,B12-NCAA,B12-NCAA-West Virginia,West Virginia,B12-NCAA-West Virginia,B12-NCAA-S16,West Virginia-S16
2,1717,North Carolina,ACC,S16,ACC-NCAA,ACC-NCAA-North Carolina,North Carolina,ACC-NCAA-North Carolina,ACC-NCAA-S16,North Carolina-S16
3,1718,North Carolina St.,ACC,S16,ACC-NCAA,ACC-NCAA-North Carolina St.,North Carolina St.,ACC-NCAA-North Carolina St.,ACC-NCAA-S16,North Carolina St.-S16
4,1735,Oklahoma,B12,S16,B12-NCAA,B12-NCAA-Oklahoma,Oklahoma,B12-NCAA-Oklahoma,B12-NCAA-S16,Oklahoma-S16
...,...,...,...,...,...,...,...,...,...,...
346,826,Evansville,MVC,,MVC-NCAA,MVC-NCAA-Evansville,Evansville,MVC-NCAA-Evansville,MVC-NCAA-,Evansville-
347,827,Illinois St.,MVC,,MVC-NCAA,MVC-NCAA-Illinois St.,Illinois St.,MVC-NCAA-Illinois St.,MVC-NCAA-,Illinois St.-
348,828,Indiana St.,MVC,,MVC-NCAA,MVC-NCAA-Indiana St.,Indiana St.,MVC-NCAA-Indiana St.,MVC-NCAA-,Indiana St.-
349,829,Loyola Chicago,MVC,,MVC-NCAA,MVC-NCAA-Loyola Chicago,Loyola Chicago,MVC-NCAA-Loyola Chicago,MVC-NCAA-,Loyola Chicago-
350,868,Colorado St.,MWC,,MWC-NCAA,MWC-NCAA-Colorado St.,Colorado St.,MWC-NCAA-Colorado St.,MWC-NCAA-,Colorado St.-

In [13]:
#remove postseason labels for teams that didnt play postseason ball (rows 68-353)
index = postseason_df[postseason_df["POSTSEASON"] == ""].index

postseason_df.loc[index, "postseason_parents"] = ""
postseason_df.loc[index, "postseason_ids"] = ""
postseason_df.loc[index, "postseason_labels"] = ""


postseason_df.head(70)

,index,TEAM,CONF,POSTSEASON,parents,ids,labels,postseason_parents,postseason_ids,postseason_labels
0,1746,Utah,P12,S16,P12-NCAA,P12-NCAA-Utah,Utah,P12-NCAA-Utah,P12-NCAA-S16,Utah-S16
1,1736,West Virginia,B12,S16,B12-NCAA,B12-NCAA-West Virginia,West Virginia,B12-NCAA-West Virginia,B12-NCAA-S16,West Virginia-S16
2,1717,North Carolina,ACC,S16,ACC-NCAA,ACC-NCAA-North Carolina,North Carolina,ACC-NCAA-North Carolina,ACC-NCAA-S16,North Carolina-S16
3,1718,North Carolina St.,ACC,S16,ACC-NCAA,ACC-NCAA-North Carolina St.,North Carolina St.,ACC-NCAA-North Carolina St.,ACC-NCAA-S16,North Carolina St.-S16
4,1735,Oklahoma,B12,S16,B12-NCAA,B12-NCAA-Oklahoma,Oklahoma,B12-NCAA-Oklahoma,B12-NCAA-S16,Oklahoma-S16
...,...,...,...,...,...,...,...,...,...,...
65,11,Notre Dame,ACC,E8,ACC-NCAA,ACC-NCAA-Notre Dame,Notre Dame,ACC-NCAA-Notre Dame,ACC-NCAA-E8,Notre Dame-E8
66,5,Duke,ACC,Champions,ACC-NCAA,ACC-NCAA-Duke,Duke,ACC-NCAA-Duke,ACC-NCAA-Champions,Duke-Champions
67,1,Wisconsin,B10,2ND,B10-NCAA,B10-NCAA-Wisconsin,Wisconsin,B10-NCAA-Wisconsin,B10-NCAA-2ND,Wisconsin-2ND
68,329,Montana,BSky,,BSky-NCAA,BSky-NCAA-Montana,Montana,,,
69,1243,Nicholls St.,Slnd,,Slnd-NCAA,Slnd-NCAA-Nicholls St.,Nicholls St.,,,

In [14]:
#grabbing and relabeling the columns we need
just_postseason_df = postseason_df[["postseason_ids", "postseason_labels", "postseason_parents"]]

just_postseason_df = just_postseason_df.loc[:67, :]

just_postseason_df.rename(columns={"postseason_parents": "parents", "postseason_ids": "ids", "postseason_labels": "labels"}, inplace=True)

just_postseason_df

                   ids                  labels                      parents
0         P12-NCAA-S16                Utah-S16                P12-NCAA-Utah
1         B12-NCAA-S16       West Virginia-S16       B12-NCAA-West Virginia
2         ACC-NCAA-S16      North Carolina-S16      ACC-NCAA-North Carolina
3         ACC-NCAA-S16  North Carolina St.-S16  ACC-NCAA-North Carolina St.
4         B12-NCAA-S16            Oklahoma-S16            B12-NCAA-Oklahoma
..                 ...                     ...                          ...
63         P12-NCAA-E8              Arizona-E8             P12-NCAA-Arizona
64         WCC-NCAA-E8              Gonzaga-E8             WCC-NCAA-Gonzaga
65         ACC-NCAA-E8           Notre Dame-E8          ACC-NCAA-Notre Dame
66  ACC-NCAA-Champions          Duke-Champions                ACC-NCAA-Duke
67        B10-NCAA-2ND           Wisconsin-2ND           B10-NCAA-Wisconsin

[68 rows x 3 columns]

In [15]:
#create a df for the NCAA circle
d = {'ids':["NCAA"], 'labels':["NCAA"], 'parents':[""]}
df_0 = pd.DataFrame(data=d)
df_0

    ids labels parents
0  NCAA   NCAA

In [16]:
#remove any blank spaces
df_0.ids.str.strip()
df_0.labels.str.strip()

0    NCAA
Name: labels, dtype: object

In [17]:
#create conferences dataframe
d = {'labels':unique_conf}
df_1 = pd.DataFrame(data=d)
df_1

   labels
0     B10
1     ACC
2     P12
3     WCC
4     SEC
5     A10
6      AE
7    Amer
8    ASun
9     B12
10     BE
11   BSky
12   BSth
13     BW
14    CAA
15   CUSA
16   Horz
17    Ind
18    Ivy
19   MAAC
20    MAC
21   MEAC
22    MVC
23    MWC
24    NEC
25    OVC
26    Pat
27     SB
28     SC
29   Slnd
30    Sum
31   SWAC
32    WAC

In [18]:
#add ids and parent columns to df_1
df_1["ids"] = df_1.labels + "-" + "NCAA"
df_1["parents"] = "NCAA"
df_1

   labels        ids parents
0     B10   B10-NCAA    NCAA
1     ACC   ACC-NCAA    NCAA
2     P12   P12-NCAA    NCAA
3     WCC   WCC-NCAA    NCAA
4     SEC   SEC-NCAA    NCAA
5     A10   A10-NCAA    NCAA
6      AE    AE-NCAA    NCAA
7    Amer  Amer-NCAA    NCAA
8    ASun  ASun-NCAA    NCAA
9     B12   B12-NCAA    NCAA
10     BE    BE-NCAA    NCAA
11   BSky  BSky-NCAA    NCAA
12   BSth  BSth-NCAA    NCAA
13     BW    BW-NCAA    NCAA
14    CAA   CAA-NCAA    NCAA
15   CUSA  CUSA-NCAA    NCAA
16   Horz  Horz-NCAA    NCAA
17    Ind   Ind-NCAA    NCAA
18    Ivy   Ivy-NCAA    NCAA
19   MAAC  MAAC-NCAA    NCAA
20    MAC   MAC-NCAA    NCAA
21   MEAC  MEAC-NCAA    NCAA
22    MVC   MVC-NCAA    NCAA
23    MWC   MWC-NCAA    NCAA
24    NEC   NEC-NCAA    NCAA
25    OVC   OVC-NCAA    NCAA
26    Pat   Pat-NCAA    NCAA
27     SB    SB-NCAA    NCAA
28     SC    SC-NCAA    NCAA
29   Slnd  Slnd-NCAA    NCAA
30    Sum   Sum-NCAA    NCAA
31   SWAC  SWAC-NCAA    NCAA
32    WAC   WAC-NCAA    NCAA

In [19]:
#reduce cbb_df to 3 columns

cbb_df = cbb_df.loc[ : , ["ids", "labels", "parents"]]
cbb_df

                         ids         labels   parents
1         B10-NCAA-Wisconsin      Wisconsin  B10-NCAA
5              ACC-NCAA-Duke           Duke  ACC-NCAA
10       ACC-NCAA-Louisville     Louisville  ACC-NCAA
11       ACC-NCAA-Notre Dame     Notre Dame  ACC-NCAA
23          P12-NCAA-Arizona        Arizona  P12-NCAA
...                      ...            ...       ...
1736  B12-NCAA-West Virginia  West Virginia  B12-NCAA
1741          BE-NCAA-Xavier         Xavier   BE-NCAA
1743    MVC-NCAA-Wichita St.    Wichita St.  MVC-NCAA
1745           P12-NCAA-UCLA           UCLA  P12-NCAA
1746           P12-NCAA-Utah           Utah  P12-NCAA

[351 rows x 3 columns]

In [20]:
just_postseason_df

                   ids                  labels                      parents
0         P12-NCAA-S16                Utah-S16                P12-NCAA-Utah
1         B12-NCAA-S16       West Virginia-S16       B12-NCAA-West Virginia
2         ACC-NCAA-S16      North Carolina-S16      ACC-NCAA-North Carolina
3         ACC-NCAA-S16  North Carolina St.-S16  ACC-NCAA-North Carolina St.
4         B12-NCAA-S16            Oklahoma-S16            B12-NCAA-Oklahoma
..                 ...                     ...                          ...
63         P12-NCAA-E8              Arizona-E8             P12-NCAA-Arizona
64         WCC-NCAA-E8              Gonzaga-E8             WCC-NCAA-Gonzaga
65         ACC-NCAA-E8           Notre Dame-E8          ACC-NCAA-Notre Dame
66  ACC-NCAA-Champions          Duke-Champions                ACC-NCAA-Duke
67        B10-NCAA-2ND           Wisconsin-2ND           B10-NCAA-Wisconsin

[68 rows x 3 columns]

In [21]:
#combining dataframes using concat method
frames1 = [cbb_df, just_postseason_df]

cbb_sunburst_df = pd.concat(frames1)
cbb_sunburst_df

                    ids          labels              parents
1    B10-NCAA-Wisconsin       Wisconsin             B10-NCAA
5         ACC-NCAA-Duke            Duke             ACC-NCAA
10  ACC-NCAA-Louisville      Louisville             ACC-NCAA
11  ACC-NCAA-Notre Dame      Notre Dame             ACC-NCAA
23     P12-NCAA-Arizona         Arizona             P12-NCAA
..                  ...             ...                  ...
63          P12-NCAA-E8      Arizona-E8     P12-NCAA-Arizona
64          WCC-NCAA-E8      Gonzaga-E8     WCC-NCAA-Gonzaga
65          ACC-NCAA-E8   Notre Dame-E8  ACC-NCAA-Notre Dame
66   ACC-NCAA-Champions  Duke-Champions        ACC-NCAA-Duke
67         B10-NCAA-2ND   Wisconsin-2ND   B10-NCAA-Wisconsin

[419 rows x 3 columns]

In [22]:
# #add postseason df
frames2 = [df_0, df_1, cbb_sunburst_df]

cbb_sunburst_df = pd.concat(frames2)
cbb_sunburst_df

                   ids          labels              parents
0                 NCAA            NCAA
0             B10-NCAA             B10                 NCAA
1             ACC-NCAA             ACC                 NCAA
2             P12-NCAA             P12                 NCAA
3             WCC-NCAA             WCC                 NCAA
..                 ...             ...                  ...
63         P12-NCAA-E8      Arizona-E8     P12-NCAA-Arizona
64         WCC-NCAA-E8      Gonzaga-E8     WCC-NCAA-Gonzaga
65         ACC-NCAA-E8   Notre Dame-E8  ACC-NCAA-Notre Dame
66  ACC-NCAA-Champions  Duke-Champions        ACC-NCAA-Duke
67        B10-NCAA-2ND   Wisconsin-2ND   B10-NCAA-Wisconsin

[453 rows x 3 columns]

In [23]:
# save df as csv using to_csv method
cbb_sunburst_df.to_csv("cbb_sunburst2019.csv", index=False)